.btn-light {
  border-radius: 100px;
  border: 1px solid var(--green-light);
  padding: 0.8rem 4.8rem;
  color: var(--green-light);
  font-family: Goldman;
  font-size: 2rem;
  font-weight: 400;
  &:hover {
    background-color: var(--green-light);
    color: var(--green-dark);
    border: none;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1150px) {
  .btn-light {
    font-size: 1.6rem;
  }
}

@media (max-width: 1050px) {
  .btn-light {
    padding: .6rem 3.6rem;
  }
}

.btn-dark {
  width: 254px;
  border-radius: 100px;
  border: 1px solid var(--green-dark);
  padding: 0.8rem 0;
  color: var(--green-dark);
  font-family: Goldman;
  font-size: 2rem;
  font-weight: 400;
  &:hover {
    background-color: var(--green-dark);
    color: var(--gray-text-light);
    border: none;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1150px) {
  .btn-dark {
    font-size: 16px;
    width: 244px;
  }
}

@media (max-width: 991px) {
  .btn-dark {
    font-size: 16px;
    width: 210px;
  }
}
