:root {
    --gray-text-light: #C4C4C4;  
    --gray-medium: #929292; 
    --gray-light-background: #BFBFBF;
    --gray-text-dark: #434247;
    --green-dark: #155750;
    --green-light: #00BD95;
    --blue-dark-background: #1C222C;
    --black-background: #13191F;
}